<div>
	<div>
		<core-toolbar class="medium-tall">
		<div flex>
			<!-- Locos x el Fútbol -->
			<a href="#/home"><paper-button id="homeButton">Locos
				x el Fútbol</paper-button></a>
		</div>
		<a href="#/home"> <paper-button raised id="accessAdminButton">
			<core-icon id="accessAdminButtonIcon" icon="account-circle"></core-icon>Acceso
			admin </paper-button>
		</a>
		<div class="bottom fit" horizontal layout>
			<paper-tabs selected="0" flex style="max-width: 600px;">
			<paper-tab>
			<a href="#/home" horizontal center-center layout>Inicio</a></paper-tab> <paper-tab>
		</div>
		</core-toolbar>

	</div>
	<div ng-controller="SecurityController as vm">
		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
						<paper-input-decorator label="Email:" floatingLabel error="El email es requerido para iniciar sesion" autoValidate>
	      					<input is="core-input" ng-model = "vm.mail" required>
	    				</paper-input-decorator>
				</div>
				<div class="form-group">
						<paper-input-decorator label="Contraseña:" floatingLabel error="Introduzca su contraseña" autoValidate>
	      					<input is="core-input" ng-model="vm.pass" type="password" required>
	    				</paper-input-decorator>
				</div>
				<div class="form-group">
						<!--  <button type="submit" class="btn btn-primary ">Enviar</button> -->
						<paper-button type="submit" raised  ng-click="vm.login(vm.mail,vm.pass)">Enviar</paper-button>
				</div>
			</fieldset>
		</form>
	</div>

</div>