<div class="navbar navbar-default menu">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="javascript:void(0)">Locos por el
			futbol</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#/home">Home</a></li>
			<li><a href="">Pistas</a></li>
			<li><a href="javascript:void(0)">Torneos</a></li>
			<li><a href="#/team">Equipos</a></li>
			<li><a href="#/referee">Arbitros</a></li>
		</ul>
		<form class="navbar-form navbar-left">
			<input type="text" class="form-control col-lg-8" placeholder="Search">
		</form>

	</div>
</div>
<div ng-controller="CourtController as vm">
<form class="form-horizontal" >
	<fieldset>
		<legend>Añadiendo pista</legend>
		<div class="form-group">
			<label for="inputName" class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputName"
					placeholder="Nombre" ng-model = "vm.court.name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Descripcion</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputDescription"
					placeholder="Descripcion" ng-model = "vm.court.description">
			</div>
		</div>
		
		<a ng-click=vm.addCourt(vm.court) class="md-raised md-primary text-center">Añadir Pista</a>
	</fieldset>
</form>
</div>