<div ng-controller="RefereeController as vm">

<core-toolbar class="medium-tall">
		    <div flex><!-- Locos x el Fútbol -->
		    	<a href="#/carrousel"><paper-button id="homeButton">Locos x el Fútbol</paper-button></a>
		    </div>
		    <a href="#/home">
		    	<paper-button raised id="logOutAdminButton">
		    		<core-icon id="logOutAdminButtonIcon" icon="launch"></core-icon>Cerrar sesión
		    	</paper-button>
		    </a>
		    <div class="bottom fit" horizontal layout>
		    	<paper-tabs selected="0" flex style="max-width: 600px;">
			        <paper-tab><a href="#/tournamentAdmin" horizontal center-center layout>Torneos</a></paper-tab>
			        <paper-tab><a href="#/courtAdmin" horizontal center-center layout>Pistas</a></paper-tab>
			        <paper-tab><a href="#/teamAdmin" horizontal center-center layout>Equipos</a></paper-tab>
			        <paper-tab><a href="#/playerAdmin" horizontal center-center layout>Jugadores</a></paper-tab>
			        <paper-tab><a href="#/refereeAdmin" horizontal center-center layout>Árbitros</a></paper-tab>
		       		</paper-tabs>
		   	</div>
		</core-toolbar>
	<div if-ng ="vm.valido">
		<form class="form-horizontal" >
			<fieldset>
				<legend>Añadiendo arbitro</legend>
				<div class="form-group">
					<label for="inputName" class="col-lg-2 control-label">Nombre</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="inputName"
							placeholder="Nombre" ng-model = "vm.referee.name">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-lg-2 control-label">Apellido</label>
					<div class="col-lg-10">
						<input type="text" class="form-control" id="inputLastName"
							placeholder="Apellido" ng-model = "vm.referee.lastName">
					</div>
				</div>
				
				<a ng-click=vm.addReferee(vm.referee) class="md-raised md-primary text-center">Añadir Arbitro</a>
			</fieldset>
		</form>
	</div>
	<div ng-if="!vm.valido">
		<h1>error, no tiene permisos</h1>
	</div>
</div>