<div >
	<div class="navbar navbar-default menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/carrousel">Locos por el
				futbol</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/home">Home</a></li>
				<li><a href="#/court">Pistas</a></li>
				<li><a href="#/tournament">Torneos</a></li>
				<li><a href="#/team">Equipos</a></li>
				<li><a href="#/referee">Arbitros</a></li>
			</ul>

		</div>
	</div>
	<div ng-controller="SecurityController as vm">
	<form class="form-horizontal" ng-submit="vm.loginuser(vm.mailuser,vm.passuser)">
		<fieldset>
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control" id="mailuser"
						placeholder="email" ng-model="vm.mailuser">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" id="passuser"
						placeholder="pass" ng-model="vm.passuser"> <br>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2 text-center">
					<button class="btn btn-default ">Cancel</button>
					<button type="submit" class="btn btn-primary ">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
	</div>

</div>