<div>
	<div>
		<core-toolbar class="medium-tall">
		<div flex>
			<!-- Locos x el Fútbol -->
			<a href="#/accessAdmin"><paper-button id="homeButton">Locos
				x el Fútbol</paper-button></a>
		</div>
		<a href="#/accessAdmin"> <paper-button raised
				id="accessAdminButton"> <core-icon
				id="accessAdminButtonIcon" icon="account-circle"></core-icon>Acceso
			admin </paper-button>
		</a>
		<div class="bottom fit" horizontal layout>
			<paper-tabs selected="0" flex style="max-width: 600px;">
			<paper-tab> <a href="#/access" horizontal center-center
				layout>Accede</a> </paper-tab>
		</div>
		</core-toolbar>

	</div>

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="img-responsive" src="img/FutbolSala.jpg" alt="Chania">
			</div>

			<div class="item">
				<img class="img-responsive" src="img/fut.jpg" alt="Chania">
			</div>

			<div class="item">
				<img class="img-responsive" src="img/gyhb.jpg" alt="Flower">
			</div>

		</div>
	</div>


</div>