<div class="navbar navbar-default menu">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#/carrousel">Locos por el
			futbol</a>
	</div>
	<div class="navbar-collapse collapse navbar-responsive-collapse">
		<ul class="nav navbar-nav">
			<li><a href="#/adminLogin">Home</a></li>
			<li><a href="#/courtAdmin">Pistas</a></li>
			<li><a href="#/tournamentAdmin">Torneos</a></li>
			<li><a href="#/teamAdmin">Equipos</a></li>
			<li><a href="#/refereeAdmin">Arbitros</a></li>
		</ul>

	</div>
</div>
<div ng-controller="CourtController as vm">
<form class="form-horizontal" >
	<fieldset>
		<legend>Modificando {{vm.modifyCourt.name}}</legend>
		<div class="form-group">
			<label for="inputName" class="col-lg-2 control-label">Nombre</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputName"
					placeholder="Nombre" ng-model = "vm.modifyCourt.name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-lg-2 control-label">Descripcion</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="inputDescription"
					placeholder="Descripcion" ng-model = "vm.modifyCourt.description">
			</div>
		</div>
		
		<a ng-click=vm.modifyingcourt(vm.modifyCourt) class="md-raised md-primary text-center">Modificar Pista</a>
		<a href="#/courtAdmin" class="md-raised text-center">Cancelar modificacion</a>	
	</fieldset>
</form>
</div>