<div ng-controller="CourtController as vm">

		<core-toolbar class="medium-tall">
		    <div flex><!-- Locos x el Fútbol -->
		    	<a href="#/carrousel"><paper-button id="homeButton">Locos x el Fútbol</paper-button></a>
		    </div>
		    <a href="#/home">
		    	<paper-button raised id="logOutAdminButton">
		    		<core-icon id="logOutAdminButtonIcon" icon="launch"></core-icon>Cerrar sesión
		    	</paper-button>
		    </a>
		    <div class="bottom fit" horizontal layout>
		    	<paper-tabs selected="0" flex style="max-width: 600px;">
			        <paper-tab><a href="#/tournamentAdmin" horizontal center-center layout>Torneos</a></paper-tab>
			        <paper-tab><a href="#/courtAdmin" horizontal center-center layout>Pistas</a></paper-tab>
			        <paper-tab><a href="#/teamAdmin" horizontal center-center layout>Equipos</a></paper-tab>
			        <paper-tab><a href="#/playerAdmin" horizontal center-center layout>Jugadores</a></paper-tab>
			        <paper-tab><a href="#/refereeAdmin" horizontal center-center layout>Árbitros</a></paper-tab>
		       		</paper-tabs>
		   	</div>
		</core-toolbar>
	<div if-ng="vm.valido">
		<form class="form-horizontal" >
			<fieldset>
				<legend>Modificando {{vm.modifyCourt.name}}</legend>
				<paper-input-decorator label="Nombre:" floatingLabel error="El nombre es necesario" autoValidate>
      					<input is="core-input" ng-model = "vm.modifyCourt.name" required>
    				</paper-input-decorator>
					<paper-input-decorator label="Apellido:" floatingLabel error="Se requiere descripción" autoValidate>
      					<input is="core-input" ng-model = "vm.modifyCourt.description" required>
    				</paper-input-decorator>
				<a ng-click=vm.modifyingcourt(vm.modifyCourt)><paper-button raised>Modificar Pista</paper-button></a>
				<a href="#/courtAdmin"><paper-button raised>Cancelar modificacion</paper-button></a>
			</fieldset>
		</form>
	</div>
	<div ng-if="!vm.valido">
		<h1>error, no tiene permisos</h1>
	</div>   
</div>