<div ng-controller="TeamController as vm">
	<div class="navbar navbar-default menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0)">Locos por el
				futbol</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/home">Home</a></li>
				<li><a href="">Pistas</a></li>
				<li><a href="javascript:void(0)">Torneos</a></li>
				<li><a href="#/team">Equipos</a></li>
				<li><a href="#/referee">Arbitros</a></li>
			</ul>
			<form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8"
					placeholder="Search">
			</form>

		</div>
	</div>

	<h2>Equipos</h2>

	<!-- Responsive table starts here -->
	<!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
	<div class="table-responsive-vertical shadow-z-1">
		<!-- Table starts here -->
		<table id="table" class="table table-hover table-mc-light-blue">
			<thead>
				<tr>
					<th>Posicion</th>
					<th>Equipo</th>
					<th>Victorias</th>
					<th>Derrotas</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="team in vm.teams">
					<td data-title="Posicion">1</td>
					<td data-title="Equipo">{{team.name}}</td>
					<td data-title="Victorias">5</td>
					<td data-title="Derrotas">2</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>



