 <div class="list-group"  ng-controller="TournamentController as vm">
    <div class="navbar navbar-default menu">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="javascript:void(0)">Locos por el
				futbol</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#/home">Home</a></li>
				<li><a href="#/court">Pistas</a></li>
				<li><a href="#/tournament">Torneos</a></li>
				<li><a href="#/team">Equipos</a></li>
				<li><a href="#/referee">Arbitros</a></li>
			</ul>
			<form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8"
					placeholder="Search">
			</form>

		</div>
	</div>
    <div class="list-group-item" ng-repeat="tournament in vm.tournaments">
        <div><h1>hiji</h1></div>
        <div class="row-picture">
            <img class="circle" src="https://lh3.googleusercontent.com/-0af3GR5yc0g/AAAAAAAAAAI/AAAAAAAAADI/dKM1l8rRNng/s120-c/photo.jpg" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">{{tournament.name}}</h4>
        </div>
    </div>    
</div> 