html {
	background-color: #FFF;
}

body {
	font-family: 'roboto', sans-serif;
}

.toolbar {
	background-color: #2196F3;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.list-row a {
	text-decoration: none;
	color: #333;
}

#new-blog-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}

.content {
	padding-top: 64px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}