html {
	background-color: #FFF;
}

body {
	font-family: 'roboto', sans-serif;
	padding: 2.5em 11.5em;
}

.toolbar {
	background-color: #2196F3;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.a.mdi-action-launch{
	color:white;
	
}

.list-row a {
	text-decoration: none;
	color: #333;
}

#mainView{
	min-height: 2.5em;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.navbar-default .navbar-brand{
	color:white;
}

#new-blog-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}

.content {
	padding-top: 64px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

core-toolbar.medium-tall{
	background-color: #B3EAD3;
	color: #000;
	height: 11.6em;
	margin-bottom: 1.5em;
}

div flex > a{
	color:black;
	text-decoration:none;
}

#homeButton{
  	text-transform: none;
  	font-size:1.8em;
  	margin-top: 2.5em;
}

#accessAdminButton{
	background-color: seashell;
	color: black;
  	text-transform: none;
  	width: 165px;
  	border-radius: 5px;
  	margin: 4.3em 0 0 -11em;
}

#logOutAdminButton{
	background-color: #727272;
	color: #ffffff;
  	text-transform: none;
  	width: 165px;
  	border-radius: 5px;
  	margin: 4.3em 0 0 -11em;
}

#accessAdminButtonIcon{
	margin-right: 0.1em;
}

#logOutAdminButtonIcon{
	margin-right: 0.1em;
}

paper-tab {
	color: black;
	font-size: 1.3em;
}

paper-button{
	text-decoration: none;
	text-transform: none;
	
}

paper-tab > a,
paper-tab > a:hover,
paper-tab > a:focus{
	color: black;
	text-decoration: none;
	text-transform: none;
}

#footer {
	width: 100%;
	height: 200px;
	padding-top: 0.5em;
	margin-top: 1.5em;
	background: #8AD2E7;
	position: static;
	bottom: 0;
	color: #383838;
}

#polymerIcon{
	margin-right: 0.8em;
}

#footerContainer{
	text-align: center;
	color: #2b7cc0;
	font-size: 14px;
  	font-weight: 500;
}

#authors{
	text-align: center;
	color: #4600b2;
	font-size: 14px;
  	font-weight: 500;
}

#addButton{
	background: green;
	float: right;
}

#deleteButton{
	background: red;
}

#modifyButton{
	background: yellow;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	text-align: center;
}



