html {
	background-color: #FFF;
}

body {
	font-family: 'roboto', sans-serif;
}

.toolbar {
	background-color: #2196F3;
	color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.a.mdi-action-launch{
	color:white;
	
}

.list-row a {
	text-decoration: none;
	color: #333;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.navbar-default .navbar-brand{
	color:white;
}

#new-blog-button {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}

.content {
	padding-top: 64px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

core-toolbar.medium-tall{
	background-color: #B3EAD3;
	color: #000;
}

div flex > a{
	color:black;
	text-decoration:none;
}

#homeButton{
  	text-transform: none;
  	font-size:1.8em;
}

#accessAdminButton{
	background-color: seashell;
	color: black;
  	text-transform: none;
  	width: 165px;
  	border-radius: 5px;
}

#accessAdminButtonIcon{
	margin-right: 0.3em;
}

paper-tab {
	color: black;
	font-size: 1.3em;
}

paper-tab > a,
paper-tab > a:hover,
paper-tab > a:focus{
	color: black;
	text-decoration:none;
}

core-toolbar.bottom {
  position: fixed; 
  z-index: 1000; 
  top: initial;
}


